<!-- wp:template-part {"slug":"header","area":"header"} /-->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
    <!-- wp:query {"query":{"perPage":10}} -->
    <div class="wp-block-query">
      <!-- wp:post-template -->
        <!-- wp:post-title {"isLink":true} /-->
        <!-- wp:post-excerpt {"moreText":"Read more"} /-->
        <!-- wp:spacer {"height":"24px"} /-->
      <!-- /wp:post-template -->
      <!-- wp:query-pagination /-->
    </div>
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->
  <!-- wp:template-part {"slug":"footer","area":"footer"} /-->
  